<style>
  .mgRight {
    margin-right: 40px
  }
</style>
<h1>Background Schedule Manager</h1>
<span class="mgRight">Day: <input type="number" min="1" max="31" value="1" [(ngModel)]="dayTime" /></span>
<span class="mgRight">Month: <input type="number" min="1" max="12" value="1" [(ngModel)]="monthTime" /></span>
<br /><br />

<span class="mgRight">Hour: <input type="number" min="1" max="31" value="1" [(ngModel)]="hourTime" /></span>
<span class="mgRight">Minute: <input type="number" min="1" max="12" value="1" [(ngModel)]="minuteTime" /></span>
<p class="mgRight">Second: <input type="number" min="1" [(ngModel)]="secondOnce" /></p>
<br /><br />

<p class="mgRight">ID/Name: <input type="text" [(ngModel)]="namedOnce" /></p>
<button type="button" (click)="callFakeRecurring()">Add/Update Background Schedule with full Date</button>
<br /><br />
<button class="mgRight" type="button" (click)="callOnce()">Add/Update Background Schedule with Second</button>
<button class="mgRight" type="button" (click)="deleteSchedule()">Delete by Name/ID</button>


