
<style>
  .mgRight {
    margin-right: 40px
  }
</style>
<h1>Hello, world!</h1>
<h2>Recurring Schedule Manager</h2>
<span class="mgRight">Day: <input type="number" min="1" max="31" value="1" [(ngModel)]="dayTime" /></span>
<span class="mgRight">Month: <input type="number" min="1" max="12" value="1" [(ngModel)]="monthTime" /></span>
<br /><br />

<span class="mgRight">Hour: <input type="number" min="1" max="31" value="1" [(ngModel)]="hourTime" /></span>
<span class="mgRight">Minute: <input type="number" min="1" max="12" value="1" [(ngModel)]="minuteTime" /></span>
<br /><br />

<p class="mgRight">Second: <input type="number" min="1" [(ngModel)]="secondOnce" /></p>
<p class="mgRight">ID/Name: <input type="text" [(ngModel)]="namedOnce" /></p>


<button class="mgRight" type="button" (click)="callLoop()">Add/Update active Loop After...</button>
<button class="mgRight" type="button" (click)="deleteLoop()">Delete Job based on Name/ID</button>

<br /><br />
<button class="mgRight" type="button" (click)="callDate()">Active Based on Date</button>
<button class="mgRight" type="button" (click)="callAdvanceDate()">Advance Date</button>

